
<html lang="en">
    <head>
      <title>Aggregator</title>
      <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
      </style>
  
      
    </head>
<body>
  <h1 *ngIf="!auth.isAuthenticated()">Hello! Please Log In</h1>   
  <main *ngIf="auth.isAuthenticated()">
    <div *ngIf="notify" class="alert alert-success">
      {{ notify }}
    </div>
    <div *ngIf="errors.length > 0" class="alert alert-danger">
      <p *ngFor = "let error of errors">
          {{ error }}
      </p>
    </div>
    <div class="container py-4">
      <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <span class="fs-4">Aggregator</span>
        </a>
      </header>
  
  
      <div class="row align-items-md-stretch">
        <div class="col-md-4 my-2" *ngFor="let bookmark of bookmarks;let idx=index">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>{{bookmark.name}}</h2>
            <ul>
                <li *ngFor="let src of bookmark.source"><a href={{src.sourceurl}}>{{src.sourcename}}</a>
                <div>
                  <span class="" style="cursor: pointer" (click)="sourceDialog(bookmark._id,src._id)">Edit link</span>
                  <span class="mx-2" style="cursor: pointer" (click)="deleteSourceById(bookmark._id,src._id)">Delete</span>
                </div>
                </li>

            </ul>
            <br>
            <div class="my-3">
              <button class="btn btn-outline-light" type="button" (click)="addSource(bookmark._id)" >Add link</button>  
            </div>
            <hr>
            <button mat-raised-button class="btn btn-outline-light mt-3" type="button" (click)="nodeDialog(bookmarks[idx]._id)">Edit Node</button>
            <button class="btn btn-outline-light mt-3 ms-1" type="button" (click)="deleteBookmarkById(bookmarks[idx]._id)">Delete Node</button>
          </div>
        </div>
        <div class="col-md-4 my-2">
          <div class="h-100 p-5 bg-light border rounded-3">
            <form #bookmarkForm="ngForm" *ngIf="true">
              <div class="form-group">
                <div class="form-group">
                  
      
                  <h1>Add Node</h1>
                  <input type="text"
                       class="form-control"
                       [(ngModel)] = "formData.name"
                       name="nodename"
                       #name = "ngModel"
                       required
                       placeholder="Enter Node Name (required)"
                       >
                  
                </div>
              </div>
              <ul>
                <li>First Link</li>
                <input type="text"
                       class="form-control"
                       [(ngModel)] = "source.sourcename"
                       name="sourcename"
                       #sourcename = "ngModel"
                       placeholder="Enter Bookmark Name"
                       >
                <input type="text"
                       class="form-control"
                       [(ngModel)] = "source.sourceurl"
                       name="sourceurl"
                       #sourceurl = "ngModel"
                       placeholder="Enter Link Url"
                       >
              </ul>
              <button
              *ngIf="true"
              (click)="addBookmark()"
              [disabled]="!bookmarkForm.valid"
              type="submit" 
              class="btn btn-warning"
              >Submit</button>
            </form>
            
          </div>
        </div>
        
        
      </div>
    </div>
    
  </main>
    </body>
  </html>

  