
<html lang="en">
    <head>
      <title>Aggregator</title>
      <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
      </style>
  
      
    </head>
<body>
      
  <main>
    <div class="container py-4">
      <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <span class="fs-4">Aggregator</span>
        </a>
      </header>
  
  
      <div class="row align-items-md-stretch">
        <div class="col-md-4">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Tools</h2>
            <ul>
                <li>Google Scholar</li>
                <li>Research Engine</li>
                <li>Stack Overflow</li>
            </ul>
            <input type="text" placeholder="Add Tool ">
            <button class="btn btn-outline-light" type="button">Add Tool</button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>RSS</h2>
            <ul>
                <li>Author blogs to follow</li>
                <li>Related Companie's Research</li>
                <li>News Related to field</li>
            </ul>
            <input type="text" placeholder="Add Feed ">
            <button class="btn btn-outline-secondary" type="button">Add Feed</button>
          </div>
          </div>
        
      </div>
    </div>
  </main>
  
  
      
    </body>
  </html>